<!DOCTYPE html>
<html>
<head>
  <title>Slack Great Library</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="turbolinks-cache-control" content="no-cache">
</head>

<body>
<% if user_signed_in? %>
    <div id="root">
      <%= yield %>
    </div>
<% else %>
    <div class="login-screen">
      <div class="login-top"></div>
      <div class="login-body">
        <%= yield %>
      </div>
    </div>
<% end %>

</body>
</html>
